@page "/edit-course-registration/{isnew:bool}/{Id:int}/{isreinsc:bool}"

@attribute [Authorize]

<PageTitle>Inscription au cours</PageTitle>

    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible" Text="@L["Alert0.Text"]">Erreur de sauvegarde de l'inscription</RadzenAlert>
        <RadzenTemplateForm TItem="Ceilapp.Models.ceilapp.CourseRegistration" Data="@(courseRegistration)" Visible="@(courseRegistration != null)" Submit="@FormSubmit">
          <RadzenStack>
            <RadzenAlert Title="@courseRegistration.InscriptionCode" AllowClose="false" AlertStyle="Radzen.AlertStyle.Primary" Icon="barcode"></RadzenAlert>
           <RadzenFieldset Text="Zone administrative" 
                          Visible="Security.IsInRole(Constants.ADMIN)" 
                          AllowCollapse="true" 
                          Icon="shield_person" 
                          Style="border: 2px solid #6366F1; border-radius: 8px; background-color: #F9FAFB; padding: 1.5rem; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                
                <RadzenRow class="align-items-center mb-4" Style="margin: 5px">
                    <RadzenColumn SizeMD="4">
                        <div class="d-flex align-items-center justify-content-end">
                            <RadzenLabel Text="Inscription validée" 
                                       Component="RegistrationValidated"
                                       Style="margin-right: 1rem; font-weight: 500;" />
                            <RadzenCheckBox @bind-Value="@(courseRegistration.RegistrationValidated)" 
                                          Name="RegistrationValidated"
                                          Style="width: 20px; height: 20px;" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>

                <RadzenRow class="align-items-center mb-4" Style="margin: 5px">
                    <RadzenColumn SizeMD="4">
                        <RadzenFormField Text="Montant payé" 
                                       Variant="Variant.Filled" 
                                       Style="width: 100%">
                            <ChildContent>
                                <RadzenNumeric Style="width: 100%" 
                                             @bind-Value="@(courseRegistration.PaidFeeValue)" 
                                             Name="PaidFeeValue"
                                             Class="rounded-lg" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>

                <RadzenFormField Text="Remarques" 
                               Variant="Variant.Filled" 
                               Style="width: 100%; margin: 5px">
                    <ChildContent>
                        <RadzenTextBox Style="width: 100%; min-height: 50px; margin: 5px" 
                                     @bind-Value="@(courseRegistration.Notes)" 
                                     Name="Notes"
                                     Class="rounded-lg" />
                    </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Groupe" Variant="Variant.Filled" Style="width: 100%; margin: 5px">
                      <ChildContent>
                        <RadzenDropDown Data="@(groupes)"  ValueProperty="Id" AllowClear=true
                                  style="display: block; width: 100%; margin: 5px" @bind-Value="@(courseRegistration.GroupId)" Name="BirthStateId" TextProperty="GroupeName" />  
                  </ChildContent>
                </RadzenFormField>

            </RadzenFieldset>
            <RadzenFieldset Text="Informations personnelles" Icon="" AllowCollapse="false">
                <RadzenRow Style="margin-top: 1em">
                    <RadzenColumn Size="12" SizeXS="6">
                        <RadzenFormField Text="Prénom" Variant="Variant.Filled" Style="width: 100%">
                              <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.FirstName)" Name="FirstName" Placeholder="" Trim="true" />
                              </ChildContent>    
                              <Helper>
                                <RadzenRequiredValidator Component="FirstName" Text="Le prénom est requis" />
                              </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeXS="6">
                        <RadzenFormField Text="Nom" Variant="Variant.Filled" Style="width: 100%">
                              <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.LastName)" Name="LastName" Placeholder="" Trim="true" />
                              </ChildContent>    
                              <Helper>
                                <RadzenRequiredValidator Component="LastName" Text="Le nom est requis" />
                              </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                 <RadzenRow Style="margin-top: 1em">
                <RadzenColumn Size="12" SizeXS="6">
                    <RadzenFormField Text="Prénom (Arabe)" Variant="Variant.Filled" Style="width: 100%">
                          <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.FirstNameAr)" Name="FirstNameAr" />
                          </ChildContent>    
                          <Helper>
                            <RadzenRequiredValidator Component="FirstNameAr" Text="Le prénom en arabe est requis" />
                          </Helper>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeXS="6">
                    <RadzenFormField Text="Nom (Arabe)" Variant="Variant.Filled" Style="width: 100%">
                          <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.LastNameAr)" Name="LastNameAr" />
                          </ChildContent>    
                          <Helper>
                            <RadzenRequiredValidator Component="LastNameAr" Text="Le nom en arabe est requis" />
                          </Helper>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="margin-top: 1em"><RadzenColumn Size="12">
            <RadzenFormField Text="Date de naissance" Variant="Variant.Filled" Style="width: 100%">
                  <ChildContent>
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(courseRegistration.BirthDate)" Name="BirthDate" />
                  </ChildContent>    
                  <Helper>
                  </Helper>
            </RadzenFormField></RadzenColumn></RadzenRow>
             <RadzenRow Style="margin-top: 1em">
                <RadzenColumn Size="12" SizeXS="6" Style="display: flex">
                    <RadzenFormField Text="Wilaya de naissance" Variant="Variant.Filled" Style="width: 100%">
                          <ChildContent>
                            <RadzenDropDown Data="@(statesForBirthStateId)" TextProperty="Name" ValueProperty="Id" AllowClear=true
                                  style="display: block; width: 100%" @bind-Value="@(courseRegistration.BirthStateId)" Name="BirthStateId" Change="@BirthStateIdChange" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" FilterAutoCompleteType="Radzen.Blazor.AutoCompleteType.On"
                                   />
                                   
                      </ChildContent>
                    </RadzenFormField>
                    <RadzenButton Icon="add" Style="width: 36px" Click="@AddStateButtonClick"></RadzenButton>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeXS="6" Style="display: flex">
                    <RadzenFormField Text="Commune de naissance" Variant="Variant.Filled" Style="width: 100%">
                          <ChildContent>
                            <RadzenDropDown Data="@(municipalitiesForBirthMunicipalityId)" TextProperty="Name" ValueProperty="Id" AllowClear=true
                                  style="display: block; width: 100%" @bind-Value="@(courseRegistration.BirthMunicipalityId)" Name="BirthMunicipalityId" AllowFiltering="true" FilterAutoCompleteType="Radzen.Blazor.AutoCompleteType.On"
                                   />
                            
                      </ChildContent>
                    </RadzenFormField>
                    <RadzenButton Icon="add" Style="width: 36px" Click="@AddMunicipalityButtonClick"></RadzenButton>
                </RadzenColumn>
            </RadzenRow>
            <RadzenFormField Text="Adresse" Variant="Variant.Filled" Style="width: 100%; margin-top: 1em">
                  <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.Address)" Name="Address" />
                  </ChildContent>    
                  <Helper>
                  </Helper>
            </RadzenFormField>
           <RadzenFormField Text="Téléphone" Variant="Variant.Filled" Style="width: 100%; margin-top: 1em">
                  <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(courseRegistration.Tel)" Name="Tel" />
                  </ChildContent>    
                  <Helper>
                  </Helper>
            </RadzenFormField>
             
            </RadzenFieldset>
           
            <RadzenRow>
                <RadzenColumn Size="12" SizeXS="6">
                   <RadzenFormField Text="Profession" Variant="Variant.Filled" Style="width: 100%">
                  <ChildContent>
                    <RadzenDropDown Data="@(professionsForProfessionId)" TextProperty="Name" ValueProperty="Id" AllowClear=true
                          style="display: block; width: 100%" @bind-Value="@(courseRegistration.ProfessionId)" Name="ProfessionId" Change="@ProfessionIdChange"
                           />
              </ChildContent>
            </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeXS="6">
                    <RadzenButton Style="width: 100%; height: 100%" ButtonStyle="Radzen.ButtonStyle.Info" Variant="Radzen.Variant.Outlined" Size="Radzen.ButtonSize.Large" Icon="payments" Text="@FeeValue"></RadzenButton>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow>
                <RadzenColumn Size="12" SizeXS="6">
                  <RadzenFormField Text="Formation" Variant="Variant.Filled" Style="width: 100%">
                    <ChildContent>
                      <RadzenDropDown Data="@(coursesForCourseId)" TextProperty="Name" ValueProperty="Id" AllowClear=true
                            style="display: block; width: 100%" @bind-Value="@(courseRegistration.CourseId)" Name="CourseId" Change="@CourseIdChange"
                            />
                </ChildContent>
              </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeXS="6">
                  <RadzenFormField Text="Niveau" Variant="Variant.Filled" Style="width: 100%" Visible="@CanEditLevel">
                  <ChildContent>
                    <RadzenDropDown Data="@(courseLevelsForCourseLevelId)" TextProperty="Name" ValueProperty="Id" AllowClear=false
                          style="display: block; width: 100%" @bind-Value="@(courseRegistration.CourseLevelId)" Name="CourseLevelId" Placeholder="Niveau de formation" ReadOnly="false" Change="@CourseLevelIdChange"
                           />
              </ChildContent>
            </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
            
            <RadzenFieldset Text="Conditions générales" Icon="gavel" Style="margin-top: 1rem; margin-bottom: 1rem; background-color: rgba(150, 150, 150, 0)" Visible="Security.IsInRole(Constants.STUDENT)">
              <div class="form-group mb-3">
                @if (!string.IsNullOrEmpty(AppSetting?.TermsAndConditions))
                {
                    <div class="terms-content bg-light p-3 mb-2" style="margin-bottom: 1em">
                        @((MarkupString)AppSetting.TermsAndConditions)
                    </div>
                }
                
            </div>
                <RadzenRow JustifyContent="Radzen.JustifyContent.Start" AlignItems="Radzen.AlignItems.Center" Style="padding: 1rem; text-align: center; border-radius: 5px; border: 1px solid #424242">
                    <RadzenColumn SizeMD="12">
                        <div class="d-flex align-items-center">
                            <RadzenCheckBox 
                                @bind-Value="@(courseRegistration.RegistrationTermsAccepted)" 
                                Name="RegistrationTermsAccepted"
                                Style="margin-right: 0.5rem; width: 30px; height: 30px" 
                            />
                            <RadzenLabel 
                                Text="J'ai lu et j'accepte les conditions générales d'inscription" 
                                Component="RegistrationTermsAccepted" 
                                Style="font-weight: 600; cursor: pointer; font-style: italic; font-family: 'Comic Sans MS'"
                            />
                        </div>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenFieldset>
            
            
          </RadzenStack>
          <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.SpaceAround" Gap="0.5rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="Radzen.ButtonType.Button" Icon="save" Text="Sauvegarder" Variant="Variant.Flat" Size="Radzen.ButtonSize.Medium" Disabled="@(!courseRegistration.RegistrationTermsAccepted && isnew)" Click="@Button1Click" />
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Fiche d'inscription" Variant="Variant.Flat" Click="@GenerateFicheInscription" Size="Radzen.ButtonSize.Medium" Icon="picture_as_pdf" Visible="@(!isnew)" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Annuler" Variant="Variant.Flat" Click="@CancelButtonClick" Size="Radzen.ButtonSize.Medium" Icon="close" />
          </RadzenStack>
        </RadzenTemplateForm>
        
    </RadzenColumn>
